{% extends "layout.html" %} {% block title %} Edit | RoadMap {% endblock %} {%
block head %}
<script type="module" crossorigin src="/assets/create/index-0n237uj8.js"></script>
<link rel="stylesheet" crossorigin href="/assets/create/index-ddxszc-i.css">
<link rel="stylesheet" href="/assets/create/styles.css" />
{% endblock %} {% block content %}
<div class="create-container">
  <div id="root" class="" data-edit="true"></div>
	{% if let Some(map) = json_map %}
  		<script id="json-map" type="json">
    			{{map|safe}}
  		</script>
	{% else %}
  		<script>
			alert("Roadmap not found")
  		</script>
	{% endif %}
</div>
{% endblock %}
