{% extends "layout.html" %} {% block title %} Explore | RoadMap {% endblock %}
{% block head %}
<link rel="stylesheet" href="/assets/explore/styles.css" />
<script src="/assets/explore/main.js" defer></script>
{% endblock %} 
{% block content %}
<main class="explore-container">
	<form class="explore-filters">
	    <label for="title" class="">
	    	<input
        		id="title"
        		name="title"
        		class=""
        		type="text"
        		placeholder="search for title"
		/>
            </label>
	    <label for="tags" class="">
	    	<p class="">Tags</p>
	<div class="multiselect-dropdown">
    	<div class="select-box" id="dropdown">
      	<input type="text" placeholder="Select options" id="selectedOptions" readonly />
      	<div class="options-container" id="optionsContainer">
		{% for tag in tags %}
        	<label>
	  	<input type="checkbox" name="query_tags" value="{{tag.name}}" />
		{{tag.name}}
        	</label>
		{% endfor %}
      	</div>
    	</div>
  	</div>
            </label>
	    <button type="submit">Search</button>
	</form>
	<div class="explore-maps">
		{% for map in roadmaps %}
			<div class="roadmap">
				<h2 class="roadmap-title">{{map.title}}</h2>	
				<p class="roadmap-date">{{map.created_at.format("%Y-%m-%d %H:%M:%S")}}</p>
				<p class="roadmap-desc">@{{map.user_name}}</p>
				<p class="roadmap-tags">
					{% for tag in map.tags %}		
						<span>{{tag}}</span>
					{% endfor %}		
				</p>
				<p class="roadmap-desc">{{map.description}}</p>
				<a href="/roadmaps/{{map.slug}}" class="roadmap-read-more">Read More</a>
			</div>
		{% endfor %}
	</div>
</main>
{% endblock %}
