{% extends "layout.html" %} {% block title %} Explore | RoadMap {% endblock %}
{% block head %}
<link rel="stylesheet" href="/assets/explore/styles.css" />
{% endblock %} 
{% block content %}
<main class="explore-container">
	<form class="explore-filters">
	    <label for="title" class="">
	    	<input
        		id="title"
        		name="title"
        		class=""
        		type="text"
        		placeholder="search for title"
		/>
            </label>
	    <label for="tags" class="">
	    	<p class="">Tags</p>
			<select name="cars" id="cars" multiple>
				{% for tag in tags %}
				<option value="{{tag.name}}">{{tag.name}}</option>
				{% endfor %}
			</select>
            </label>
	    <button type="submit">Search</button>
	</form>
	<div class="explore-maps">
		{% for map in roadmaps %}
			<div class="roadmap">
				<h2 class="roadmap-title">{{map.title}}</h2>	
				<p class="roadmap-date">{{map.created_at}}</p>
				<p class="roadmap-desc">{{map.description}}</p>
				<a href="/roadmaps/{{map.id}}" class="roadmap-read-more">Read More</a>
			</div>
		{% endfor %}
	</div>
</main>
{% endblock %}
