{% extends "layout.html" %} {% block title %} Focus Mode On | RoadMap {%
endblock %} {% block head %}
<link rel="stylesheet" href="/assets/get_map/styles.css" />
{% endblock %} {% block content %}
<div class="get-map-container">
  {% if let Some(m) = map %}
  <div class="map-info">
    <div>
      <p class="map-title">{{m.title}}</p>
      <p class="map-date">{{m.created_at.format("%Y-%m-%d %H:%M:%S")}}</p>
      <p class="map-desc">{{m.description}}</p>
      <p class="map-tags">
        {% for tag in m.tags %}
        <span>{{tag}}</span>
        {% endfor %}
      </p>
    </div>
    <div>
      <a href="/roadmaps/{{m.slug}}/edit" class="map-edit-btn">Edit</a>
    </div>
  </div>
  {% if let Some(c) = json_content %}
  <script id="json-map" type="json">
    {{c|safe}}
  </script>
  {% endif %}
  <div id="roadmap"></div>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="/assets/get_map/load_map.js"></script>

  {% else %}
  <script>
    alert("Roadmap not found");
  </script>

  {% endif %}
</div>
{% endblock %}
