{% extends "layout.html" %} 

{% block title %}
	Home | RoadMap
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/assets/index/styles.css" />
{% endblock %}
{% block content %}
<main class="index-container">
		<div class="hero-container">
			<p class="hero-sub-head">Ensuring quality in knowledge</p>
			<h1>RoadMap</h1>
			<p class="hreo-para">We structure kowledge that is already available on the internet for easy access. Chaos is fine, it really is. But to get started with anything without getting overwhelmed, you need structure, thats where roadmap can help you.</p>
		</div>
</main>
{% endblock %}
